/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', sans-serif; */
/* Banner Section style */
body {
    width: 1600px;
    margin: 0 auto;
}

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner/Banner\ Image.png');
    margin: 50px 140px 0px 140px;
    border-radius: 16px;
    height: 600px;
}

.banner-title {
    color: white;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

.banner-title1 {
    padding: 150px 530px 0px 530px;
    font-size: 32px;
    font-weight: 400;
}

.banner-title2 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Happy Newyear section */
.new-year {
    font-family: 'Inter', sans-serif;
    margin-top: 120px;
}

.discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin: 48px 608px;
}

.holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 602px;
}

.category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 16px 595px;
}

.ny-img {
    width: 802px;
    height: 500px;
    margin-left: 399px;
}

/* wlc patry section */
.wlc-party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner/Vectorrr.png');
    margin: 120px 140px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.wlc-container {
    display: flex;
    padding: 80px 126px;
}

.mid-night {
    color: #FFF;
    font-family: 'Merriweather', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    width: 642px;
}

.wlc-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.join-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background: none;
    border: none;
}

/* Join now section */

.join-now {
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px 140px;
    border-radius: 16px;
}

.join-des {
    padding-top: 80px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #070211;
}

.place,
span,
time {
    color: #FF0000;
}

.now-btn {
    background: #FF0000;
    color: #FFF;
    padding: 16px 32px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 126px;
    margin-top: 48px;
    border: none;
}

/* coming soon section */
.comming-soon {
    display: flex;
    margin: 120px 140px 0 140px;
    height: 733px;
    justify-content: space-around;
    gap: 50px;

}

.main-title {
    color: #F00;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.sub-title {
    olor: #070211;

    font-family: 'Merriweather', sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.coming-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.year {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.year-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.circle {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.rows2-cs {
    display: inline;
    text-align: center;
}

.circle-img {
    margin: 49.08px 49.08px;
}

/* Holiday sale section */
.holiday-sale {
    margin: 120px 140px 0 140px;
}

.holiday-title {
    text-align: center;
}

.hdsale1 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.hdsale2 {
    color: #070211;
    font-family: 'Merriweather', sans-serif;
    font-size: 72px;
    font-weight: 900;
}

.hdsale3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holiday-org {
    color: #FF0000;
}

.holiday-image {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.h-right {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: end;
}

.box-dis {
    flex: 1;
    display: flex;
    justify-content: center;
}

.holiday-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discountvv {
    position: absolute;
    left: 70px;
    top: 75px;
}

.box {
    width: 430px;
    height: 430px;
    flex: 1;
    margin-bottom: -350px;
    margin-left: 150px;
    z-index: 30;
}

/* portfolio section */

.portfolio {
    margin: 120px 140px;
}

.port-title h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.portfolio h2 {
    color: #070211;
    font-family: 'Merriweather', sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.portfolio h4 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 424px;
}

.image-container {
    margin-top: 50px;
}

.image-container div {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

/* newsletter section */
.subscribe {
    height: 616px;
    margin: 120px 140px;
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.sub-container {
    padding: 40px;
}

.subscribe div h3 {
    color: #070211;
    font-family: 'Merriweather', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 40px;
}

.subscribe p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 212px;
}

.input-section {
    max-width: 100%;
    position: relative;
    margin: 40px 300px;

}

.input-section input {
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0 25px 30px;
    width: 100%;
    border-radius: 50px;
    border: none;
}

.input-section button {
    padding: 24px 56px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: -29px;
    bottom: 0;
}

footer {
    background-color: #070211;
    color: white;
    height: 609px;
}

.footer-container {
    width: 1320px;
    margin-left: 140px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    border: none;

}

.foot-top {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.top-left {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.top-right {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    display: inline;
}

.foot-mid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 48px;
}

.foot-bottom {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    padding: 30px;
}

.foot-bottom button {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border: none;
    background-color: transparent;
}

/* hover effect */
.image-container img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.input-section button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.now-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.join-btn:hover {
    cursor: pointer;
}

.foot-bottom button:hover {
    cursor: pointer;
}